{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Exchange System</title>
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
</head>
<body>
    <header>

        <span style="float: right;">
            {% if user.is_authenticated %}
               {{ user.username}}
               <form action="{% url 'logout' %}?next=/" method="post">
                   <button type="submit">logout</button>
                   {% csrf_token %}
               </form>
            {% else %}
               Not Logged in
               <a href="{% url 'login' %}?next=/">login</a>
            {% endif %}
        </span>

        <div class="banner">
            <img src="{% static 'banner.jpg' %}" height="120"/>
        </div>
    </header>

    <div class="container">
        <nav class="sidebar">
            <ul>
                {% block sidenav %}
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                {% endblock sidenav %}
            </ul>
        </nav>

        <main class="content">
            {% block content %}
               <h1>Main Content</h1>
            {% endblock content %}
        </main>
    </div>

    <footer>
        <p>&copy; 2025 My Web Layout</p>
    </footer>
</body>
</html>