.userlogin{
    flex: 1;
    padding: 50px;
    width: 100%;
}
.register{}
.postBook{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0px 0px;
    padding: 75px 50px;
}

/* ^fuckass forms */

.viewBook{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 75px;

    .cover{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        position: sticky;
        top: 100px;

        .book-cover{
            align-self: center;
            height: 300px;
            width: 200px;
        }
        .actions {
            display: flex;
            flex-direction: column;
            align-items: center;

            .rate {
                display: flex;
                flex-direction: row;
                padding: 15px;
                align-items: center;
                justify-content: center;
                gap: 8px;

                text{
                    font: var(--subsubhead);
                }
                img{
                    height: 35px;
                }
                img.down{
                    transform: scale(1.1) rotateY(180deg) translateY(.5em);
                }
            }
            form{
                width: 100%;
                margin: 0px;
            }
            .addtoCart{
                cursor: pointer;
                width: 100%;
                padding: 15px;
                border: transparent;
                border-radius: 25px;
                background-color: var(--primary);
                color: var(--accent);
                font: var(--subsubhead);
            }
        }
    }
    .booksection{
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 0px 0px 0px 75px;
        gap: 50px 0px;

        .book-info{
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            align-self: start;

            .title{
                font: var(--head);
            }
            .totalRating{
                padding-bottom: 30px;
            }
        }
        .commentsection{
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
            form{
                margin: 0;
            }
            .submitcomment{
                display: flex;
                flex-direction: column;
                padding: 15px 0px;
                border-bottom: 2px solid var(--accent);

                textarea{
                    resize: none;
                    border-radius: 15px;
                    padding: 10px;
                }
            }
            .bookcomments{
                display: flex;
                flex-direction: column;
                padding: 10px 15px;

                .comment{
                    display: flex;
                    flex-direction: column;                        border-color: var(--accent);
                    border-color: var(--accent);
                    padding: 10px 15px;

                    text.commenter{
                        font: var(--subsubhead);
                    }
                    text.commenttext{
                        font: var(--plaintext);
                    }
                }
            }
        }
    }
}
.browsing{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 75px 75px;

    .browsing-text{
        width: 100%;
        padding: 0px 0px 25px 0px;
        border-bottom: 2px solid var(--accent);
        width: 100%;
        text-align: flex-start;

        text{
            font: var(--subsubhead);
            font-size: 1.5rem;
        }
    }
    .bookgallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        justify-content: center;
        width: 100%;
        padding-top: 50px;

        .book{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-sizing: border-box;
            padding: 10px;
            height: auto;
            width: 150px;
            form{
                margin: 2px 0px 0px 0px;
            }
            .covers{
                width: 100%;
            }
            text{
                font: var(--head);
                font-size: 1rem;
            }
            .toCart{
                cursor: pointer;
                background-color: var(--primary);
                border-color: transparent;
                border-radius: 5px;
                padding: 5px;
                color: var(--accent);
            }
        }
    }
}
.searching{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 75px 75px;

    text.subtext{
        display: block;
        width: 100%;
        text-align: center;
        font: var(--subsubhead);
        font-size: 1.5rem;
    }
    text.count{
        align-self: flex-start;
        width: 100%;
        font: var(--subhead);
        font-size: 1.5rem;
    }
    .searchbar{
        width: 100%;
        padding: 0px 25px;
        border-bottom: 2px solid var(--accent);

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px 10px;
            text-align: center;
            margin: 0px 0px 25px 0px;
        }
        .search-div {
            display: flex;
            align-items: center;
            position: relative;
            width: 800px;
            margin: 0 auto;

            input[type="text"] {
                align-self: center;
                background-color: rgba(205, 208, 221, 0.7);
                box-sizing: content-box;
                padding: 10px;
                height: 25px;
                width: 800px;
                border-radius: 15px;
                border-color: transparent;
                outline: none;
                border-color: transparent;

                &::placeholder{
                    font: var(--subsubhead);
                }
                &:focus{
                    outline-style: none;
                }
            }
            .search-button{
                cursor: pointer;
                height: 48px;
                width: 48px;
                position: absolute;
                background-color: var(--primary);
                border-radius: 0px 15px 15px 0px;
                border-color: transparent;
                position: absolute;
                right: -25px;
            }
            .search-icon{
                padding: 5px;
                height: 35px;
            }
        }
    }

    .results {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        justify-content: center;
        align-items: center;
        padding: 25px 0px;

        .book{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 10px;
            height: auto;
            width: 150px;

            text{
                text-wrap: balance;
                margin: 2px;
                padding: 5px;
                width: 100%;
                border-radius: 5px;
                background-color: var(--primary);
                color: var(--accent);
                font: var(--plaintext)
            }
            .covers{
                width: 100%;
            }
        }
    }
}
.userBook{
    flex: 1;
    padding: 50px;
    width: 100%;

    .section-text{
        display: flex;
        flex-direction: column;

        text.head{
            font: var(--head);
        }
    }

    .selection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-items: start;
        gap: 10px 50px;
        padding-top: 25px;

        .book{
            display: flex;
            flex-direction: row-reverse;
            box-sizing: border-box;
            padding: 10px;
            height: auto;
            width: 100%;
            gap: 15px;

            .covers{
                align-items: center;
                max-width: 150px;
            }
            .book-info{
                display: flex;
                flex-direction: column;
                position: relative;
                padding: 15px;

                text{
                    font: var(--subsubhead);
                    font-size: 1.2rem;
                }

                .delete-button{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    transform: translateX(-50%);
                    padding: 15px;
                    background-color: var(--secondary);
                    text-decoration: none;
                    border-radius: 15px;
                    color: red:
                }
            }
        }
    }
}
.cart{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 75px;

    .cart-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid var(--accent);
        justify-content: space-between;
        align-items: center;

        text.carttitle{
            font: var(--head);
            margin-bottom: 5px;
        }
    }

    .cart-content{
        display: flex;
        flex-direction: row;
        gap: 0px 10px;
        width: 75%;

        .cart-items{
            display: flex;
            flex-direction: column;
            padding: 15px 40px 0px 0px;
            gap: 15px;

            .cartbooks{
                display: flex;
                flex-direction: row;

                img{
                    margin-right: 50px;
                    width: 100px;
                }

                .iteminfo{
                    display: flex;
                    text{
                        font: var(--subsubhead);
                    }
                }
            }
        }
        .cart-total{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            padding: 50px 15px;
            height: 300px;
            width: 300px;
            border: 1px solid black;
            align-items: center;
        }
    }
}