{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
        <a href="{{ item.link }}">  {{ item.item }} </a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
   <h1>Book Detail</h1>
   <table border="2">
      <tr>
          <th>Book Picture</th>
          <th>Book Name</th>
          <th>Book Price</th>
          <th>User Name</th>
          <th>Book Post Date</th>
          <th>Book Web</th>
      </tr>
       <tr>
           <td>
               <img src="{% static book.pic_path %}" width="100" />
           </td>
           <td>
              {{ book.name }}
           </td>
           <td>
              {{ book.price }}
           </td>
           <td>
              {{ book.username }}
           </td>
           <td>
              {{ book.publishdate }}
           </td>
           <td>
               {{ book.web }}
           </td>
      </tr>
   </table>

{% if user.is_authenticated %}
  <a href="{% url 'rate_book' book.id 'true' %}">👍</a>
  <a href="{% url 'rate_book' book.id 'false' %}">👎</a>

  <form action="{% url 'add_to_cart' book.id %}" method="post" style="margin-top: 10px;">
    {% csrf_token %}
    <button type="submit">Add to Cart</button>
  </form>
{% else %}
  <p><a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to add this book to your cart.</p>
{% endif %}

{% if total_ratings > 0 %}
    <p>{{ positive_ratings }} of {{ total_ratings }} users liked this book ({{ percentage|floatformat:0 }}%)</p>
{% else %}
    <p>No ratings yet.</p>
{% endif %}

<hr>

<h3>Comments</h3>

{% if user.is_authenticated %}
    <h4>Add a Comment:</h4>
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to add a comment.</p>
{% endif %}

{% if comments %}
    <h4>Existing Comments:</h4>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.user.username }}:</strong>
                <p>{{ comment.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No comments yet. Be the first to comment!</p>
{% endif %}

{% endblock content %}
