{% load static %}


<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex">
  <a href="{% url 'book_detail' book.id %}" class="text-decoration-none text-dark w-100">
    <div class="card h-100 text-center">
      <img src="{% static book.pic_path %}" class="card-img-top" alt="{{ book.name }}" style="height: 300px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{ book.name }}</h5>
        <p class="card-text fw-bold">${{ book.price }}</p>
      </div>
    </div>
  </a>
</div>