{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="cart">
    <div class="cart-header">
        <text class="carttitle">{{ user.username }}'s Shopping Cart</text>
        <text>{{ cart_items|length }} book(s)</text>
    </div>
    <div class="cart-content">
        <div class="cart-items">
            {% if cart_items %}
            <div class="detailheader">
                <text></text>
                <text>Item Name</text>
                <text>Price</text>
                <text>Quantity</text>
                <text>Total</text>
            </div>
            {% for item in cart_items %}
            <div class="cartbooks">
                <a href="{% url 'book_detail' item.book.id %}"><img src="{% static item.book.picture.url|cut:'bookEx/static' %}"/></a>
                <text class="itemtitle">{{ item.book.name }}</text>
                <text>${{ item.book.price|floatformat:2 }}</text>
                <div class="quantitymodifiers">
                    <form action="{% url 'delete_from_cart' item.book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><img src="https://cdn-icons-png.flaticon.com/512/10172/10172067.png"></button>
                    </form>
                    <text>{{ item.quantity }}</text>
                    <form action="{% url 'add_to_cart' item.book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><img src="https://cdn-icons-png.flaticon.com/512/2997/2997933.png"></button>
                    </form>
                </div>
                <text>${{ item.total_price|floatformat:2 }}</text>
                <form action="{% url 'remove_from_cart' item.book.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </div>
            {% endfor %}
            {% else %}
            <div class="emptycart">
                {% if submitted %}
                    <text>Thank you for your purchase, your order is on its way!</text>
                {% else %}
                    <text>Your cart is empty.</text>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="cart-total">
            <text class="totalheader">Order Summary</text>
            <text>Total Item(s): {{ total_quantity }}</text>
            <text>Subtotal: ${{ cart_total|floatformat:2 }}</text>
            <div class="button-div">
                <form action="{% url 'displaybooks' %}" method="post">
                    {% csrf_token %}
                    {% if not cart_items %}
                        <button type="submit">Start Shopping</button>
                    {% else %}
                        <button type="submit">Keep Shopping</button>
                    {% endif %}

                </form>
                <form action="{% url 'checkout' %}" method="post">
                    {% csrf_token %}
                    {% if cart_items %}
                        <button type="submit">Checkout</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
