{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="cart">
  <div class="cart-header">
  <text class="carttitle">{{ user.username }}'s Shopping Cart</text>
  <text>{{ cart_items|length }} item(s)</text>
  </div>
  <div class="cart-content">
    <div class="cart-items">
      {% if cart_items %}
        {% for item in cart_items %}

      <div class="cartbooks">
        <img src="{% static item.book.picture.url|cut:'bookEx/static' %}"/>
        <div class="iteminfo">
          <text class="itemtitle">{{ item.book.name }}</text>
          <text>Item Price: ${{ item.book.price|floatformat:2 }}</text>
          <text>Quantity: {{ item.quantity }}</text>
          <text>Total: ${{ item.total_price|floatformat:2 }}</text>
        </div>
      </div>
        {% endfor %}
      {% endif %}

  {% if not cart_items %}
  <text>Your cart is empty, <a href="{% url 'displaybooks' %}">start shopping!</a></text>
  {% else %}
  <a href="{% url 'displaybooks' %}">
    <img src="https://cdn-icons-png.flaticon.com/512/130/130882.png">
    Continue Shopping
  </a>
  {% endif %}
    </div>
    <div class="cart-total">
      <text class="totalheader">Order Summary</text>
      <text>Subtotal: ${{ cart_total|floatformat:2 }}</text>
      <form action="{% url 'checkout' %}" method="post" style="margin-top: 20px;">
      {% csrf_token %}
      <button type="submit">Checkout</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
