{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
    <div class="browsing">
        <div class="browsing-text">
            <text>Looking for something specific? Search for books
                <a href="{% url 'search_books' %}">here!</a>
            </text><br>
            <text>Want to help us expand our collection? Post your books
                <a href="{% url 'search_books' %}">here!</a>
            </text>

        </div>
        <div class="bookgallery">
            {% for book in books %}
                <div class="book">
                    <text>{{ book.name }}</text>
                    <a href="book_detail/{{ book.id }}"><img class="covers" src="{% static book.pic_path %}"/></a>
                    <form action="{% url 'add_to_cart' book.id %}" method="post">
                        {% csrf_token %}
                        <button class="toCart" type="submit">Add to Cart: ${{ book.price }}</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}