{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="postBook">
  {% if submitted %}
      <text>Book Posted Successfully!</text>
  {% else %}
    <form class="formpage" action="" enctype="multipart/form-data" method="post" novalidate>
        <text class="head">Post a Book:</text>
        {% if user.is_authenticated %}
            <text class="plaintext">See all the books you've shared with our community <a href="mybooks">here.</a></text>
        {% else %}
            <text class="plaintext"><a href="mybooks">Log in</a> to see what you've shared with our community.</text>
        {% endif %}
        <text>Title: </text>
        {{ form.name }}
        <text>Website: </text>
        {{ form.web }}
        <text>Price: </text>
        {{ form.price }}
        <text>Cover:  </text>
        {{ form.picture }}
        <button type="submit">Submit</button>
      {% csrf_token %}
     </form>
  {% endif %}
</div>
{% endblock content %}