{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="postBook">
    <h1>Post a Book</h1>
  {% if submitted %}
      <h1>Book Posted Successfully! </h1>
  {% else %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
      <table>
         {{ form.as_table }}
          <tr>
             <td>
                 <input type="submit" value="Submit">
             </td>
          </tr>
      </table>
      {% csrf_token %}
     </form>
  {% endif %}
</div>
{% endblock content %}