{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="postBook">
    {% if submitted %}
        <div class="success">
            <text class="successhead">Book Posted Successfully!</text>
            <text class="successplain">To view your books, click <a href="{% url 'mybooks' %}">here.</a></text>
            <text class="successplain">To post another book, click <a href="{% url 'postbook' %}">here.</a></text>
        </div>
    {% else %}
        <form class="formpage" action="" enctype="multipart/form-data" method="post" novalidate>
            <div class="posthead">
                <text class="posth">Post a Book:</text>
                {% if user.is_authenticated %}
                <text class="plaintext">See all the books you've shared with our community <a href="mybooks">here.</a></text>
                {% else %}
                <text class="plaintext"><a href="mybooks">Log in</a> to see what you've shared with our community.</text>
                {% endif %}
            </div>
            <text>Title: </text>
            {{ form.name }}
            <text>Website: </text>
            {{ form.web }}
            <text>Price: </text>
            {{ form.price }}
            <text>Cover:  </text>
            {{ form.picture }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</div>
{% endblock content %}