{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="userlogin">
    <form class="formpage" action="{% url 'login' %}" method="post">
        <text class="head">Welcome Back!</text>
        <text>Username: </text>
        {{ form.username }}
        <text>Password: </text>
        {{ form.password }}
        <input type="hidden" name="next" value="{{ next|default:'/' }}" />
        {% csrf_token %}
        <button type="submit">Login</button>
        <text class="redirect">New to our community? Register <a href="{% url 'register' %}">here.</a></text>
    </form>
</div>
{% endblock content %}