{% extends "base.html" %}
{% load static %}

{% block general-css %}
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" type="text/css">
{% endblock general-css %}

{% block content %}
<div class="register">
    <form class="formpage" action="" method="post">
        <text class="head">Register User</text>
        <text>Name: </text>
        {{ form.username }}
        <text>Password: </text>
        {{ form.password1 }}
        <text>Confirm Password: </text>
        {{ form.password2 }}
        <button type="submit">Create Account</button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
        <text class="redirect">Already a member? Login <a href="{% url 'login' %}">here.</a></text>

    </form>
</div>
{% endblock content %}