{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
        <a href="{{ item.link }}">  {{ item.item }} </a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
   <h1>About Us</h1>
   <br><h2>Who We Are</h2>
   <p>
     BookEx was created by Group 4 from CS 3337 as a final project. Each member was responsible for their own feature.
   </p>
   <br><h2>A Few Things You Can Do On BookEx</h2>
   <p>
       Search for books by title, author, or keyword.<br>
       Rate and review books you have read.<br>
       Upload your own books to share with others.<br>
   </p>
{% endblock content %}