{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
        <a href="{{ item.link }}">  {{ item.item }} </a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
   <h1>About Us</h1>
   <br><h2>Who We Are</h2>
   <p>
     BookEx was created by Group 4 from CS 3337 as a final project.
       <table>
         <tr>
             <th>Name</th>
             <th>Feature</th>
         </tr>
         <tr>
             <td>Oscar Herrera</td>
             <td>Search Book</td>
         </tr>
         <tr>
             <td>Krystal Lo</td>
             <td>About Us</td>
         </tr>
         <tr>
             <td>Jennifer Lias</td>
             <td>Rate Book</td>
         </tr>
         <tr>
             <td>Yi Jin</td>
             <td>Shopping Cart</td>
         </tr>
         <tr>
             <td>Michael Hareu</td>
             <td>Comments</td>
         </tr>
         <tr>
             <td>Ryan Garcia</td>
             <td>Web Page Formatting</td>
         </tr>
       </table>
   </p>
   <br><h2>A Few Things You Can Do On BookEx</h2>
   <p>
       Search for books by title, author, or keyword.<br>
       Rate and review books you have read.<br>
       Upload your own books to share with others.<br>
   </p>
{% endblock content %}